{% extends '::accesos.html.twig' %}

{% block body %}

  <form class="" action="{{ path('login_check') }}" method="post" novalidate="novalidate">
      {% if error %}
        <div class="alert alert-warning">{{ error.message }}</div>
      {% endif %}
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <input type="hidden" name="_target_path" value="/curso/1" />
      {{ form_widget(usuario_form) }}

      <div class="btn-group">
        <button type="submit" class="btn btn-warning">
          Entrar
          <span class="glyphicon glyphicon-log-in"></span>
        </button>

      </div>
      <a href="{{ path('acl_recuperar') }}" type="button" class="btn btn-default pull-right">
        Recuperar cuenta
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>

  </form>



{% endblock %}
