{% extends '::admin.html.twig' %}


{% block title_contenido %}
  <h1>Crear usuario</h1>
{% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('usuarios') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Regresar
    </a>
    <a href="{{ path('usuarios_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear usuario
    </a>

{% endblock %}

{% block body_contenido %}
<div class="col-md-12">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form" action="" method="post" novalidate>
            {{ form_widget(usuario_form) }}
            <button type="submit" name="submit" class="btn btn-success">Guardar</button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form" action="" method="post" novalidate>
            {{ form_widget(usuario_password_form) }}
            <button type="submit" class="btn btn-warning">
              Guardar
            </button>
          </form>

        </div>
      </div>
</div>

    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <strong>Cursos del usuario</strong>
        </div>
        {% for reporte in reportes %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ reporte.curso }}</div>
                <div class="panel-body">

                    <ul class="list-group">
                        <li class="list-group-item">Registro {{ reporte.registro}}</li>
                        <li class="list-group-item">Inicio del curso {{ reporte.inicio_curso}}</li>
                        <li class="list-group-item">Días transcurridos {{ reporte.dias_transcurridos}}</li>
                        <li class="list-group-item">Módulos liberados {{ reporte.modulos_hoy}}</li>
                      </ul>

                </div>

                <!-- Table -->
                <table class="table">
                  <thead>
                      <th>
                          Módulo
                      </th>
                      <th>
                          Fecha
                      </th>
                  </thead>
                  <tbody>
                      {% for modulo in reporte.modulos %}
                      <tr>
                          <td>
                              {{ loop.index }}
                          </td>
                          <td>
                              {{ modulo }}
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
        {% endfor %}
    </div>


    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ form(delete_form) }}
        </div>
      </div>
    </div>



{% endblock %}
