{% extends '::admin.html.twig' %}


{% block title_contenido %}
  <h1>Crear usuario</h1>
{% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('usuarios') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Regresar
    </a>
    <a href="{{ path('usuarios_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear usuario
    </a>

{% endblock %}

{% block body_contenido %}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form" action="" method="post" novalidate>
            {{ form_widget(usuario_form) }}
            <button type="submit" name="submit" class="btn btn-success">Guardar</button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form" action="" method="post" novalidate>
            {{ form_widget(usuario_password_form) }}
            <button type="submit" class="btn btn-warning">
              Guardar
            </button>
          </form>

        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ form(delete_form) }}
        </div>
      </div>
    </div>



{% endblock %}
