{% extends '::admin.html.twig' %}

{% block title_contenido %}
  Usuarios
{% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('usuarios_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear usuario
    </a>

{% endblock %}

{% block body_contenido %}
    <table class="dataTables table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="col-md-2">
                        <h1>{{ entity.nombre|default('Sin nombre') }} <br /><small>{{ entity.username }}</small></h1><br />
                    <p>
                        <strong>Email: </strong> {{ entity.email }}
                    </p>

                    <p>
                        <strong>Role: </strong> {{ entity.roles.role }}
                    </p>
                    <p>
                        <strong>Cursos registrados: </strong> {{ entity.cursos|length() }}
                    </p>
                </td>
                <td class="col-md-4 text-right">
                  <a class="btn btn-default" href="{{ path('usuarios_edit', { 'id': entity.id }) }}">
                  {{ btn_editar }}
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="record_actions">
      <li>
        <a href="{{ path('usuarios_new') }}">
          Crear usuario
        </a>
      </li>
    </ul>
    {% endblock %}
