{% extends '::elearn.html.twig' %}

{% block body %}
<div id="main-panel">
  <div id="wrap-main-panel">

    <div class="col-md-3">
    <div class="text-center">
      <div class="btn-group text-right" role="group" aria-label="..." >
        <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
        <a href="{{ path('front_curso', {'id': curso.id })}}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></a>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></button>
      </div>
    </div>

    {% include 'Front/items/nav-modulo.html.twig' %}
    </div>

    <div class="col-md-9">

      <div id="contenido-modulo">

        <ol class="breadcrumb">
          <li><a href="{{ path('front_curso', {'id': curso.id })}}">{{ curso.curso }}</a></li>
          <li>{{ modulo.modulo }}</li>
          <li class="active"><strong>{{ item.seccion }}<strong></li>
        </ol>
        <div id="w-contenido-modulo">
          {% include 'includes/datos-autor-item.html.twig' %}
          <div class="w-media-modulo">
              {% block contenido %}

              {% endblock %}
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
