{% extends '::admin.html.twig' %}

{% block title_contenido %} Quizes {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_quiz_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
        Crear Quiz
    </a>

{% endblock %}

{% block body_contenido %}

    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quiz</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_quiz_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.quiz }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <a class="btn btn-default" href="{{ path('admin_quiz_edit', { 'id': entity.id }) }}">{{ btn_editar }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
