{% extends '::admin.html.twig' %}

{% block title_contenido %} Curso {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_cursos') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
        Regresar
    </a>
    <a href="{{ path('admin_cursos_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Curso
    </a>

{% endblock %}

{% block body_contenido %}
    
    <div class="well">
      {{ form_start(form) }}

        {% macro prototype(modulo) %}
               <tr>
                 <td>{{ form_widget(modulo.modulos) }}</td>
                 <td>{{ form_widget(modulo.posicion) }}</td>
                 <td class="text-center">
                  <button class="btn btn-danger delete">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                 </td>
               </tr>
           {% endmacro %}
            {{ form_row(form.curso) }}
            {{ form_row(form.temporalidad) }}
            {{ form_row(form.fechaPublicacion) }}
            {{ form_row(form.sku) }}
            {{ form_row(form.descripcion) }}
            <div class="page-header">
              <h1>Módulos</h1>
            </div>
           <table class="table table-condensed">
               <caption></caption>
               <thead>
                <tr>
                  <th>
                    Ítem
                  </th>
                  <th>
                    Posición
                  </th>
                  <th>
                  </th>
                </tr>
               </thead>
               <tbody class="collections" data-prototype="{{ _self.prototype(form.modulos.vars.prototype)|e }}">
                   {% for modulo in form.modulos %}
                      {{_self.prototype(modulo)}}
                   {% endfor %}
               </tbody>
           </table>
           <div class="btn-group">
           <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-default add">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
           </div>


      {{ form_end(form) }}
    </div>


    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_cursos') }}">
          Regresar
        </a>
        |
        <a href="{{ path('admin_cursos_new') }}">
          Crear curso
        </a>
      </li>
      <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
