{% extends '::admin.html.twig' %}

{% block title_contenido %} Curso {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_cursos') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
        Regresar
    </a>
    <a href="{{ path('admin_cursos_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Curso
    </a>

{% endblock %}

{% block body_contenido %}
    <div class="col-md-12">
      <form class="form" action="" method="post" novalidate>
          {{ form_widget(curso_form) }}
          <button type="submit" class="btn btn-success">
            Guardar
            <span class="glyphicon glyphicon-floppy-save"></span>
          </button>
      </form>
    </div>
    <div class="col-md-6">
      <hr>

      <div class="alert alert-success">
        <strong>Agregue Módulos</strong>
      </div>

      <form class="form" action="" method="post" novalidate>
          {{ form_widget(add_modulos_form) }}
          <button type="submit" class="btn btn-success">
            Agregar
            <span class="glyphicon glyphicon-save"></span>
          </button>
      </form>
      <hr>
      <div class="alert alert-success">
        <strong>Listado de Módulos del Curso | {{ curso.modulos|length|default('No hay Módulos para este Curso') }}</strong>
      </div>
      {{ form_start(modulos_curso_form) }}

        {% macro prototype(modulo) %}
               <tr>
                 <td>{{ form_widget(modulo.modulos) }}</td>
                 <td>{{ form_widget(modulo.posicion) }}</td>
                 <td class="text-center">
                  <button class="btn btn-danger delete">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                 </td>
               </tr>
           {% endmacro %}
           <table class="table table-condensed">
               <caption></caption>
               <thead>
                <tr>
                  <th>
                    Módulo
                  </th>
                  <th>
                    Posición
                  </th>
                  <th>
                  </th>
                </tr>
               </thead>
               <tbody class="collections" data-prototype="{{ _self.prototype(modulos_curso_form.modulos.vars.prototype)|e }}">
                   {% for modulo in modulos_curso_form.modulos %}
                      {{_self.prototype(modulo)}}
                   {% endfor %}
               </tbody>
           </table>
           <button type="submit" class="btn btn-success">
             Guardar
             <span class="glyphicon glyphicon-floppy-save"></span>
           </button>


      {{ form_end(modulos_curso_form) }}
    </div>
    <div class="col-md-6">
      <hr>
      <div class="alert alert-success">
        <strong>Agregue Usuarios</strong>
      </div>
        <form class="form" action="" method="post" novalidate>
            {{ form_widget(add_usuarios_form) }}
            <button type="submit" class="btn btn-success">
              Agregar
              <span class="glyphicon glyphicon-save"></span>
            </button>
        </form>
        <hr>
        <form class="form" action="" method="post" novalidate>

        </form>
    </div>
{% endblock %}
