{% extends '::admin.html.twig' %}

{% block title_contenido %} Cursos {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_cursos_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Curso
    </a>

{% endblock %}


{% block body_contenido %}

    <table class="dataTables table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Curso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="col-md-1"><a href="{{ path('admin_cursos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="col-md-4">
                    <h1>{{ entity.curso }}</h1>
                  <p>
                    {{ entity.descripcion }}
                  </p>
                </td>
                <td class="col-md-7 text-center">
                  <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('front_curso', { 'id': entity.id }) }}">{{ btn_ver }}</a>
                    <a class="btn btn-default" href="{{ path('admin_cursos_edit', { 'id': entity.id }) }}">{{ btn_editar }}</a>
                  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_cursos_new') }}">
          Crear curso
        </a>
      </li>
    </ul>
    {% endblock %}
