{% extends '::elearn.html.twig' %}

{% block body %}

<ul class="timeline-scrubber inner-element">
  {% for modulos in curso.modulos %}
  <li class="selected">
    <a href="#m{{ modulos.modulos.id }}" data-separator="#m{{ modulos.modulos.id }}">
      {% if modulos.modulos.id in modulos_con_acceso|keys %}
        <i class="fa fa-unlock-alt"></i> M - {{ loop.index}}  {# modulos.modulos.modulo #}
      {% else %}
        <i class="fa fa-lock"></i> M - {{ loop.index}}  {# modulos.modulos.modulo #}
      {% endif %}

    </a>
  </li>
  {% endfor %}
</ul>
<div id="timeline" class="demo1">
  <div class="timeline">
    <div class="spine"></div>
    {% for modulos in curso.modulos %}

    {% if modulos.modulos.id in modulos_con_acceso|keys %}
      <div class="date_separator" id="m{{ modulos.modulos.id }}" data-appear-top-offset="-400">
        <span>
          {% if modulos.modulos.id in modulos_con_acceso|keys %}
            <i class="fa fa-unlock-alt"></i>
          {% endif %}
          {{ modulos.modulos.modulo }}

      </span>
      <ul class="list-group modulo-descripcion">
        <li class="list-group-item">{{ modulos.modulos.descripcion }}</li>
      </ul>
      </div>
      <ul class="columns">


        {% for items in modulos.modulos.items %}

        <li>

        <a href="{{ path(items.items.tipo.slug , {'curso': curso.id, 'modulo': modulos.modulos.id, 'item': items.items.id}) }}" >
          <div class="timeline_element partition-white">
            <div class="timeline_date">
              <div>
                <!--<div class="inline-block">
                  <span class="day text-bold">02</span>
                </div>-->
                <div class="inline-block">

                  <!--<span class="block month text-large text-light">november 2014</span>-->
                </div>
              </div>
            </div>
            <div class="timeline_title">
              <i class="fa fa-{{ items.items.tipo.svgSeccion }} fa-2x pull-left fa-border"></i>
              <h4 class="light-text no-margin padding-5">{{ items.items.seccion }}</h4>
            </div>
            <div class="timeline_content">
              {{ items.items.descripcion }}
            </div>
          </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    {% else %}
      <div class="date_separator" id="m{{ modulos.modulos.id }}" data-appear-top-offset="-400">
        <span>
          {% if modulos.modulos.id in modulos_con_acceso|keys %}

          {% else %}
            <i class="fa fa-lock"></i>
          {% endif %}

          {{ modulos.modulos.modulo }}
        </span>
        <ul class="list-group modulo-descripcion">
          <li class="list-group-item">{{ modulos.modulos.descripcion }}</li>
        </ul>
      </div>
      <ul class="columns">
        {% for items in modulos.modulos.secciones %}
        <li>
          <div class="timeline_element partition-white column-unlock">
            <div class="timeline_date">
              <div>
                <!--<div class="inline-block">
                  <span class="day text-bold">02</span>
                </div>-->
                <div class="inline-block">

                  <!--<span class="block month text-large text-light">november 2014</span>-->
                </div>
              </div>
            </div>
            <div class="timeline_title">
              <i class="fa fa-{{ items.secciones.tipo.svgSeccion }} fa-2x pull-left fa-border"></i>
              <h4 class="light-text no-margin padding-5">{{ items.secciones.seccion }}</h4>
            </div>
            <div class="timeline_content">
              {{ items.secciones.descripcion }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% endif%}


  {% endfor %}
    <!--
    <div class="date_separator" id="october" data-appear-top-offset="-400">
      <span>OCTOBER 2014</span>
    </div>
    <ul class="columns">
      <li>
        <div class="timeline_element partition-white">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_title">
            <i class="fa fa-map-marker fa-2x pull-left fa-border"></i>
            <h4 class="light-text no-margin padding-5">Appointment</h4>
          </div>
          <div class="timeline_content">
            <div class="row">
              <div class="col-md-3 col-xs-4"><img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive"/>
              </div>
              <div class="col-md-9 col-xs-8">
                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-purple">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_title">
            <i class="fa fa-map-marker fa-2x pull-left fa-border"></i>
            <h4 class="light-text no-margin padding-5">Appointment</h4>
          </div>
          <div class="timeline_content">
            <div class="row">
              <div class="col-md-3 col-xs-4"><img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive"/>
              </div>
              <div class="col-md-9 col-xs-8">
                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-transparent-white">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-green">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_content">
            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-white">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_content">
            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="date_separator" id="september" data-appear-top-offset="-400">
      <span>September 2014</span>
    </div>
    <ul class="columns">
      <li>
        <div class="timeline_element partition-white">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_title">
            <i class="fa fa-map-marker fa-2x pull-left fa-border"></i>
            <h4 class="light-text no-margin padding-5">Appointment</h4>
          </div>
          <div class="timeline_content">
            <div class="row">
              <div class="col-md-3 col-xs-4"><img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive"/>
              </div>
              <div class="col-md-9 col-xs-8">
                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-orange">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_title">
            <i class="fa fa-map-marker fa-2x pull-left fa-border"></i>
            <h4 class="light-text no-margin padding-5">Appointment</h4>
          </div>
          <div class="timeline_content">
            <div class="row">
              <div class="col-md-3 col-xs-4"><img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive"/>
              </div>
              <div class="col-md-9 col-xs-8">
                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-transparent-white">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-blue">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_content">
            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-white">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_content">
            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="date_separator" id="august" data-appear-top-offset="-400">
      <span>August 2014</span>
    </div>
    <ul class="columns">
      <li>
        <div class="timeline_element partition-white">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_title">
            <i class="fa fa-map-marker fa-2x pull-left fa-border"></i>
            <h4 class="light-text no-margin padding-5">Appointment</h4>
          </div>
          <div class="timeline_content">
            <div class="row">
              <div class="col-md-3 col-xs-4"><img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive"/>
              </div>
              <div class="col-md-9 col-xs-8">
                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-orange">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_title">
            <i class="fa fa-map-marker fa-2x pull-left fa-border"></i>
            <h4 class="light-text no-margin padding-5">Appointment</h4>
          </div>
          <div class="timeline_content">
            <div class="row">
              <div class="col-md-3 col-xs-4"><img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive"/>
              </div>
              <div class="col-md-9 col-xs-8">
                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-transparent-white">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-azure">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_content">
            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline_element partition-white">
          <div class="timeline_date">
            <div>
              <div class="inline-block">
                <span class="day text-bold">05</span>
              </div>
              <div class="inline-block">
                <span class="block week-day text-extra-large">Wensdey</span>
                <span class="block month text-large text-light">november 2014</span>
              </div>
            </div>
          </div>
          <div class="timeline_content">
            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <div class="readmore">
            <a href="#" class="btn btn-light-blue">
              Read More <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>-->
  </div>
</div>







{% endblock %}
