{% extends '::modulo.html.twig' %}


{% block contenido %}

<div id="contenido-modulo">

  <ol class="breadcrumb">
    <li><a href="{{ path('front_curso', {'id': curso.id })}}">{{ curso.curso }}</a></li>
    <li>{{ modulo.modulo }}</li>
    <li class="active"><strong>{{ seccion.seccion }}<strong></li>
  </ol>
  <div id="w-contenido-modulo">


    <div class="w-media-modulo">

    <a href="{{ seccion.multimedia }}" target="_blank">
      <img src="{{ asset('audio-descarga.jpg')}}" />
    </a>



    </div>

    <div class="w-datos-media">
      <div id="w-avatar-modulo">
        <img src="https://scontent-mia.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10846358_10154996416550085_9136934945260243027_n.jpg?oh=f46c8b109267c9f5c579d62264f77a99&oe=555957CD" />
      </div>
      <h3>Expositor <small></small></h3>
      <p>Gabriel Guerrero</p>
      <!--<p>Joshua Rosenthal, MScEd, welcomes you to Integrative Nutrition.</p>-->
      <hr />
      <p class="lead">
          {{ seccion.descripcion }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
