{% extends '::perfil.html.twig' %}


{% block contenido %}

{% if mensaje is defined %}
<div class="alert alert-block alert-warning">
  {{ mensaje }}
</div>
{% endif %}
<div class="col-md-12">
  <div class="panel panel-default">

    <div class="panel-body">

      <ul class="list-group">
        <li class="list-group-item"><h1><i class="fa fa-book"></i> Tus cursos</h1></li>
        {% for cursos in usuario.cursos %}
        <a href="{{ path('front_curso', {'id' : cursos.cursos.id }) }}" class="list-group-item">
          <i class="fa fa-hand-o-up"></i> {{ cursos.cursos.curso }}
          <br />
          <small>{{ cursos.fechaRegistro|date('d/m/Y') }}</small>

        </a>
        {% endfor %}
      </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h1>
            Te pueden interesar
          </h1>
        </li>
        {% for curso in cursos %}

        <a href="{{ curso.urlTienda }}" target="_blank" class="list-group-item">
          <span class="label label-primary"><i class="fa fa-gift"></i> Comprar</span>
          <hr />
          {{ curso.fechaPublicacion|date('d/m/Y') }} | <strong>{{ curso.curso }}</strong>
          <p class="lead">
            {{ curso.descripcion }}
          </p>
          <p>
            <ul>
            {% for modulo in curso.modulos %}
              <li>{{ modulo.modulos.modulo }}</li>
            {% endfor %}
            </ul>
          </p>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
