{% extends '::perfil.html.twig' %}


{% block contenido %}

{% if mensaje is defined %}
<div class="alert alert-block alert-warning">
  {{ mensaje }}
</div>
{% endif %}
<div class="col-md-12">
  <div class="panel panel-default">

    <div class="panel-body">

      <ul class="list-group">
        <li class="list-group-item"><h1><i class="fa fa-book"></i> Tus cursos</h1></li>

        {% for curso in usuarioCursos %}
            <li class="list-group-item">
                <p>
                    <i class="fa fa-hand-o-up"></i> {{ curso.curso }}
                </p>
                <p>
                    <div class="btn-group btn-group-sm">
                      <a href="{{ path('front_curso', {'id' : curso.id }) }}"  type="button" class="btn btn-default">
                          Ir al Curso
                      </a>
                      {% if curso.fecha == 1 %}
                      <a href="{{ path('perfil_diplomas') }}" type="button" class="btn btn-primary ">
                          Descargar Diploma
                      </a>
                      {% else %}
                      <a type="button" class="btn btn-default disabled">
                          Descargar Diploma
                      </a>
                      {% endif %}
                    </div>
                </p>

            </li>
        {% endfor %}
      </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h1>
            Te pueden interesar
          </h1>
        </li>
        {% for curso in cursos %}

        <a href="{{ curso.urlTienda }}" target="_blank" class="list-group-item">
          <span class="label label-primary"><i class="fa fa-gift"></i> Comprar</span>
          <hr />
          {{ curso.fechaPublicacion|date('d/m/Y') }} | <strong>{{ curso.curso }}</strong>
          <p class="lead">
            {{ curso.descripcion }}
          </p>
          <p>
            <ul>
            {% for modulo in curso.modulos %}
              <li>{{ modulo.modulos.modulo }}</li>
            {% endfor %}
            </ul>
          </p>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
