{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="page-header">
      <h1>Ítems del modulo <small></small></h1>
    </div>

    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_modulos_edit', {'id': 1 }) }}">
          Regresar al módulo
        </a>
      </li>
    </ul>

    {{ form(form) }}

    {{ form(modulo_secciones_form) }}

    <form action="" method="POST">

      {% macro prototype(secciones) %}
       <tr>
         <td>{{ form_widget(secciones.secciones) }}</td>
         <td>{{ form_widget(secciones.posicion) }}</td>
         <td>

         </td>
       </tr>
       {% endmacro %}

       <table class="table table-condensed">
           <caption></caption>
           <thead><tr>Preguntas</tr></thead>
           <tbody>
               {% for secciones in modulo_secciones_form.secciones %}
                  {{ _self.prototype(secciones) }}
               {% endfor %}
           </tbody>
       </table>

      <input type="submit" value="Guardar" class="btn btn-default"/>
    </form>

    {% endblock %}
