{% extends '::admin.html.twig' %}

{% block title_contenido %} Crear Ítem {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_secciones') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Regresar
    </a>

    <a href="{{ path('admin_secciones_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Ítem
    </a>

{% endblock %}


{% block body_contenido %}

    {% if item.tipo.id ==3 %}
      {% if (item.path !="") or (item.path!=NULL) %}
      <div class="alert alert-success" role="alert">
        <strong>Archivo: </strong>{{ item.path }} <a class="btn btn-danger" href="{{ path('secciones_delete_archivo', {id :item.id})}}" class="alert-link">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
      </div>
      {% endif %}
    {% endif %}

    <form class="" action="" method="post" novalidate>
      {{ form_widget(item_form) }}
      <button type="submit" class="btn btn-success">
        Guardar
        <span class="glyphicon glyphicon-floppy-save"></span>
      </button>
    </form>


    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_secciones') }}">
          Regresar
        </a>
        |
        <a href="{{ path('admin_secciones_new') }}">
          Crear ítem
        </a>
      </li>
      <li>{{ form(delete_form) }}</li>
    </ul>





</ul>
{% endblock %}
