{% extends '::admin.html.twig' %}

{% block title_contenido %} Módulo {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_modulos') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Regresar
    </a>
    <a href="{{ path('admin_modulos_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Módulo
    </a>

{% endblock %}

{% block body_contenido %}
    <div class="col-md-12">
        <form class="" action="" method="post" novalidate>
            {{ form_widget(modulo_form) }}
            <button type="submit" class="btn btn-success">
              Guardar
              <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
        </form>
    </div>

    <div class="col-md-12">
      <div class="alert alert-success">
        <strong>Agregue Ítems al Módulo</strong>
      </div>
      <form class="" action="" method="post" novalidate>
          {{ form_widget(add_items_form) }}
          <button type="submit" class="btn btn-success">
            Agregar
            <span class="glyphicon glyphicon-floppy-save"></span>
          </button>
      </form>
      <hr>
      {% if modulo.items|length == 0 %}
          <div class="alert alert-danger">
            <strong>Este Módulo no tiene Ítems agregados</strong>
          </div>
      {% else %}
      <div class="alert alert-warning">
        <strong>
          Listado de Ítes del Módulo
        </strong>
      </div>
      <form class="" action="" method="post" novalidate>
        {{ form_start(items_modulo_form) }}

        {% macro prototype(item) %}
               <tr>
                 <td>{{ form_widget(item.items) }}</td>
                 <td>{{ form_widget(item.posicion) }}</td>
                 <td>
                  <button class="btn btn-danger delete">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                 </td>
               </tr>
           {% endmacro %}
           <table class="table table-condensed">
               <caption></caption>
               <thead>
                <tr>
                  <th>
                    Ítem
                  </th>
                  <th>
                    Posición
                  </th>
                  <th>
                  </th>
                </tr>
               </thead>
               <tbody class="collections" data-prototype="{{ _self.prototype(items_modulo_form.items.vars.prototype)|e }}">
                   {% for item in items_modulo_form.items %}
                      {{_self.prototype(item)}}
                   {% endfor %}
               </tbody>
           </table>
           <div class="btn-group">
             <button type="submit" class="btn btn-success">
               Guardar
               <span class="glyphicon glyphicon-floppy-save"></span>
             </button>
           </div>


        {{ form_end(items_modulo_form) }}
      </form>
      {% endif %}

    </div>



</ul>
{% endblock %}
