{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="page-header">
      <h1>Módulos <small></small></h1>
    </div>

    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_modulos_new') }}">
          Crear módulo
        </a>
      </li>
    </ul>

    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modulo</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="col-md-1"><a href="{{ path('admin_modulos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="col-md-2">{{ entity.modulo }}</td>
                <td class="col-md-5">{{ entity.descripcion }}</td>
                <td class="col-md-4 text-center">
                  <a class="btn btn-default" href="{{ path('admin_modulos_edit', { 'id': entity.id }) }}">{{ btn_editar }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_modulos_new') }}">
          Crear módulo
        </a>
      </li>
    </ul>
    {% endblock %}
