{% extends '::admin.html.twig' %}

{% block title_contenido %} Módulos {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_modulos_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Módulo
    </a>

{% endblock %}

{% block body_contenido %}
    <table class="dataTables table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modulo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="col-md-1"><a href="{{ path('admin_modulos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="col-md-2">
                    <h1>{{ entity.modulo }}</h1>
                    <p>
                        {{ entity.descripcion }}
                    </p>
                </td>
                <td class="col-md-4 text-center">
                  <a class="btn btn-default" href="{{ path('admin_modulos_edit', { 'id': entity.id }) }}">{{ btn_editar }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_modulos_new') }}">
          Crear módulo
        </a>
      </li>
    </ul>
    {% endblock %}
