{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="page-header">
      <h1>Perfil del módulo</h1>
    </div>
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_modulos') }}">
          Regresar
        </a>
        |
        <a href="{{ path('admin_modulos_new') }}">
          Crear módulo
        </a>
        |
        <a href="{{ path('admin_modulos_secciones', {'modulo': entity.id}) }}">
          Agregar ítems
        </a>
      </li>
    </ul>


    {% form_theme edit_form 'ElearnBundle:Form:admin-form.html.twig' %}
    {{ form(edit_form, {'attr':{'novalidate':'novalidate'}}) }}
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_modulos') }}">
          Regresar
        </a>
        |
        <a href="{{ path('admin_modulos_new') }}">
          Crear módulo
        </a>
      </li>
      <li>{{ form(delete_form) }}</li>
    </ul>

</ul>
{% endblock %}
