{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="page-header">
      <h1>Perfil del quiz</h1>
    </div>
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_quiz') }}">
          Regresar
        </a>
        |
        <a href="{{ path('admin_quiz_new') }}">
          Crear módulo
        </a>
      </li>
    </ul>

    <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        {{ form(edit_form, {'attr':{'novalidate':'novalidate'}}) }}
      </div>
    </div>


    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ form(preguntas_form) }}
          {# form(opciones_form, {'attr':{'novalidate':'novalidate'}}) #}
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">


          <form action="" method="POST">

            {% macro prototype(pregunta) %}
             <tr>
               <td>{{ form_widget(pregunta.pregunta) }}</td>
               <td>{{ form_widget(pregunta.posicion) }}</td>
               <td>
                <a href="{{ path('admin_quiz_pregunta', { id: pregunta.vars.value.id }) }}" class="btn btn-success opciones">
                  <span class="glyphicon glyphicon-plus"></span> Opciones
                </a>
                <a href="" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove">
                  </span>
                </a>
               </td>
             </tr>
             {% endmacro %}

             <table class="table table-condensed">
                 <caption></caption>
                 <thead><tr>Preguntas</tr></thead>
                 <tbody>
                     {% for pregunta in quiz_preguntas_form.preguntas %}
                        {{ _self.prototype(pregunta) }}
                     {% endfor %}
                 </tbody>
             </table>

            <input type="submit" value="Guardar" class="btn btn-default"/>
          </form>


        </div>
      </div>
    </div>


{% endblock %}
